html,
body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px var(--ring); */
  /* border-color: var(--ring); */
}


.react-flow__handle.connectionindicator {
  visibility: hidden !important;
}
